networks:
  network:
    driver: bridge

services:
  backend:
    build:
      context: ./backend
    image: faceanon-backend:latest
    ports:
      - "9080:9080"
    networks:
      - network

  frontend:
    build:
      context: ./frontend
    image: faceanon-frontend:latest
    environment:
      - BACKEND_URL=/api
      - BACKEND_INTERNAL_URL=http://backend:9080
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - network


